@model Meal

<h1>@Model.StrMeal</h1>

<h1>@Model.StrInstructions</h1>

<img src=@Model.StrPhoto />


<h1>@Model.StrIngredient1</h1>
<h1>@Model.StrIngredient2</h1>
<h1>@Model.StrIngredient3</h1>
<h1>@Model.StrIngredient4</h1>
<h1>@Model.StrIngredient5</h1>
<h1>@Model.StrIngredient6</h1>
<h1>@Model.StrIngredient7</h1>
<h1>@Model.StrIngredient8</h1>
<h1>@Model.StrIngredient9</h1>
<h1>@Model.StrIngredient10</h1>
