@model Meal

<h1>@Model.StrMeal</h1>

<p>@Model.StrInstructions</p>

<img src=@Model.StrPhoto />

<ol>
<li>@Model.StrIngredient1</li>
<li>@Model.StrIngredient2</li>
<li>@Model.StrIngredient3</li>
<li>@Model.StrIngredient4</li>
<li>@Model.StrIngredient5</li>
<li>@Model.StrIngredient6</li>
<li>@Model.StrIngredient7</li>
<li>@Model.StrIngredient8</li>
<li>@Model.StrIngredient9</li>
<li>@Model.StrIngredient10</li>
</ol>
